
.flex-container{
    background-color:white;
    display: flex;
}
.heading{
    display: flex;
    
}


.rec1{
    background-color:grey;
   height: 400px;
   width: 50px;
   
}

.rec2{
    
    background-color:pink;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 30px;
    margin: 5px 750px;
}


.rec3{
    background-color:white;
   justify-content: space-between;
   display: flex;
     align-items: flex-end;
    
}

.rec4{
   display: flex;
    justify-content:flex-end;
    flex-direction:column-reverse;
    align-items:baseline;
   
}
.section{
    display: flex;
    
    
}