
.flex-container{
    background-color:black;
    display: flex;
    width: 900px;
    height: 500px;
    flex-flow:column wrap;
}
.heading{
    display: flex;
    
}


.rec1{
    background-color:grey;
   height: 180px;
   width: 900px;
   
}

.rec2{
    
    background-color:pink;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 30px;
    margin: 5px 750px;
}


.rec3{
    background-color:white;
   justify-content:flex-end;
   display: flex;
     align-items: flex-start;
         flex-direction:column;
         margin:50px;
    
}

.rec4{
   display: flex;
    justify-content:flex-end;
    flex-direction:column;
    
   
}
.section{
    background-color: blue;
    display: flex;
    justify-content:flex-start;
    padding:50px;
    margin-top: 400px;
}